@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 80%;
    margin: 0 auto;
    grid-gap: 15px;
    grid-template-areas: "main main main main";
}

main {
    grid-area: main;
}

.title {
    padding: 70px 50px 50px 0;
}

.paragraph {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 85%;
    margin: 0 auto;
    grid-template-areas: "para";
    padding: 0;
    align-items: center;
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: "IBM Plex Mono", monospace;
    line-height: 190%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 25px 25px 25px 0;
    text-align: justify;
}

.para {
    grid-area: para;
}

.htmlHead {
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: 3px;
    margin-left: 15px;
    font-size: 56px;
    padding-top: 50px;
    text-align: center;
}

.span1 {
    color: #F16529;
    text-transform: uppercase;
    margin-right: 0;
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: 3px;
    margin-left: 15px;
    font-size: 56px;
    padding-top: 50px;
    text-align: center;
}

.span2 {
    color: #29A9DF;
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: 3px;
    margin-left: 15px;
    font-size: 56px;
    padding-top: 50px;
    text-align: center;
}

.css1 {
    color: rgb(50, 177, 33);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

.css2 {
    color: rgb(24, 87, 129);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

.css3 {
    color: rgb(163, 32, 157);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

.hyperStyle {
    color: #F16529;
}

.span22 {
    color: #29A9DF;
    text-transform: uppercase;
    font-size: 120%;
}

.css10 {
    background: #030301;
    color: white;
}

.blueCol {
    color: rgb(9, 74, 214);
}

.greenCol {
    color: rgb(19, 170, 19);
}

.blackLink {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.size {
    font-size: 40px;
    color: #bbaa3e;
}

.fFamily {
    font-family: 'Dancing Script', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-style: italic;
    font-size: 110%;
    font-weight: bold;
    color: rgb(99, 96, 96);
}

.blackHyper {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.cont2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 50px;
    padding-bottom: 50px;
}

.card {
    background: #f5f5f5;
    margin: 5px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: .35s;
}

.card:hover {
    transform: translateY(-5px);
    box-sizing: border-box;
    transition: .35s;
    box-shadow: 0 2px 2px rgba(41, 47, 56, 0.1), 0 4px 4px rgba(41, 47, 56, 0.1), 0 8px 8px rgba(41, 47, 56, 0.1), 0 16px 16px rgba(41, 47, 56, 0.1), 0 32px 32px rgba(41, 47, 56, 0.1);
    background: #fdfdfd;
}

.card h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #272932;
    transition: background-color 0.3s;
    position: relative;
    margin: 0;
}

.card h2 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-weight: normal;
    font-size: 18px;
    transition: font-size 0.25s;
    letter-spacing: 2px;
    font-family: 'Ubuntu Mono', monospace;
}

.card h2 a:hover {
    color: #f5f5f5;
    transition: color 0.27s;
}

.card p {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 120%;
    font-family: 'Ubuntu Mono', monospace;
}

@media(max-width: 1020px) {
    .cont2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .paragraph {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        max-width: 99%;
        margin: 0 auto;
        grid-template-areas: "para";
        padding: 0;
        align-items: center;
        /* font-family: 'Nanum Gothic Coding', monospace; */
        font-family: "IBM Plex Mono", monospace;
        line-height: 190%;
        font-size: 20px;
        margin-bottom: 20px;
        /* padding: 25px 25px 25px 0; */
    }
}

@media (max-width: 725px) {
    .cont2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 450px) {
    .paragraph {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        max-width: 100%;
        margin: 0;
        /* auto removed from margin */
        grid-template-areas: "para";
        padding: 0;
        align-items: center;
        /* font-family: 'Nanum Gothic Coding', monospace; */
        font-family: "IBM Plex Mono", monospace;
        line-height: 190%;
        font-size: 18px;
        margin-bottom: 20px;
        /* padding: 25px 25px 25px 0; */
    }
    .piece {
        position: relative;
    }
    .title {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}